@font-face {
	font-family: 'delicious';
	src:url('fonts/delicious.eot?5s11n9');
	src:url('fonts/delicious.eot?#iefix5s11n9') format('embedded-opentype'),
		url('fonts/delicious.woff?5s11n9') format('woff'),
		url('fonts/delicious.ttf?5s11n9') format('truetype'),
		url('fonts/delicious.svg?5s11n9#delicious') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'delicious';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
	content: "\e600";
}

.icon-cancel2:before {
	content: "\e601";
}

.icon-chevron-right:before {
	content: "\e602";
}

.icon-chevron-left:before {
	content: "\e603";
}

.icon-chevron-left-outline:before {
	content: "\e604";
}

.icon-chevron-right-outline:before {
	content: "\e605";
}

.icon-delete:before {
	content: "\e606";
}

.icon-delete-outline:before {
	content: "\e607";
}

.icon-arrow-right-thick:before {
	content: "\e608";
}

.icon-arrow-left-thick:before {
	content: "\e609";
}

.icon-arrow-right-outline:before {
	content: "\e60a";
}

.icon-arrow-left-outline:before {
	content: "\e60b";
}

.icon-favorite:before {
	content: "\e60c";
}

.icon-favorite-outline:before {
	content: "\e60d";
}

.icon-search:before {
	content: "\e60e";
}

.icon-publish:before {
	content: "\e60f";
}

.icon-keyboard-arrow-left:before {
	content: "\e610";
}

.icon-keyboard-arrow-right:before {
	content: "\e611";
}

.icon-keyboard-arrow-up:before {
	content: "\e612";
}

.icon-rotate-right:before {
	content: "\e613";
}

.icon-local-post-office:before {
	content: "\e614";
}

.icon-restaurant-menu:before {
	content: "\e615";
}

.icon-star:before {
	content: "\e616";
}

.icon-star-half:before {
	content: "\e617";
}

.icon-star-outline:before {
	content: "\e618";
}

.icon-circle-cross:before {
	content: "\e043";
}

.icon-skip-back:before {
	content: "\e050";
}

.icon-rewind:before {
	content: "\e051";
}

.icon-play:before {
	content: "\e052";
}

.icon-pause:before {
	content: "\e053";
}

.icon-fast-forward:before {
	content: "\e055";
}

.icon-skip-forward:before {
	content: "\e056";
}

.icon-skip-forward2:before {
	content: "\e057";
}

.icon-arrow-left:before {
	content: "\e094";
}

.icon-arrow-right:before {
	content: "\e095";
}

.icon-search2:before {
	content: "\f002";
}

.icon-home:before {
	content: "\f015";
}

.icon-heart:before {
	content: "\f004";
}

.icon-heart-o:before {
	content: "\f08a";
}

.icon-star2:before {
	content: "\f005";
}

.icon-star-o:before {
	content: "\f006";
}

.icon-circle-thin:before {
	content: "\f1db";
}

.icon-circle-o:before {
	content: "\f10c";
}

.icon-circle:before {
	content: "\f111";
}

.icon-spinner:before {
	content: "\f110";
}

.icon-plus-square-o:before {
	content: "\f196";
}

.icon-minus-square-o:before {
	content: "\f147";
}

.icon-play2:before {
	content: "\e619";
}

.icon-pause2:before {
	content: "\e61a";
}

.icon-arrow-left2:before {
	content: "\e61b";
}

.icon-arrow-right2:before {
	content: "\e61c";
}

.icon-arrow-left3:before {
	content: "\e61d";
}

.icon-uniE61E:before {
	content: "\e61e";
}

.icon-envelope:before {
	content: "\e61f";
}

.icon-home2:before {
	content: "\e900";
}

.icon-phone:before {
	content: "\e942";
}

.icon-spinner2:before {
	content: "\e97b";
}

.icon-spoon-knife:before {
	content: "\e9a3";
}

.icon-truck:before {
	content: "\e9b0";
}

.icon-smile:before {
	content: "\e9e1";
}

.icon-point-right:before {
	content: "\ea04";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-google-plus3:before {
	content: "\ea8a";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-twitter3:before {
	content: "\ea93";
}

.icon-feed2:before {
	content: "\ea94";
}

.icon-feed3:before {
	content: "\ea95";
}

.icon-feed4:before {
	content: "\ea96";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-youtube4:before {
	content: "\ea9a";
}

.icon-vimeo:before {
	content: "\ea9c";
}

.icon-vimeo2:before {
	content: "\ea9d";
}

.icon-vimeo3:before {
	content: "\ea9e";
}

.icon-tumblr:before {
	content: "\eabb";
}

.icon-tumblr2:before {
	content: "\eabc";
}

.icon-linkedin:before {
	content: "\eac8";
}

.icon-linkedin2:before {
	content: "\eac9";
}

.icon-pinterest:before {
	content: "\ead0";
}

.icon-pinterest2:before {
	content: "\ead1";
}

