@charset "utf-8";
/*========== Initialization ==========*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,header,footer,dl,dt,dd,input{
	margin:0;
	padding:0;
}
html, body{
}

body{font-size:12px; 
	height:100%;
	background:url("../images/bg-unit4.png") repeat fixed; 
	font-family: 'HelveticaRegular',Helvetica,Arial;
	/* line-height:18px; */}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
/* clear fix */
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

/*========== header ==================================================*/
header {
	position:fixed;
	top:0px;
	z-index:100;
	display: block;
	width: 100%;
	height: 50px;
	background-color:#a94718;/*#300300;/*#4f1e19;*/
	-webkit-box-shadow: 0 4px 10px #b07546;
	-moz-box-shadow: 0 4px 10px #b07546;
	box-shadow: 0 7px 20px #1e0000;/*#b07546;*/
}

header > nav {
	position:relative;
	display: block;
	width:1000px;
	height:50px;
	margin:0 auto;
}
header ul {
	display: inline-block;
	margin:15px 0 0;
}

header ul li  {
	display:inline-block;
}

header  #menus li{
	font: normal normal normal 17px/1.4em 'open sans', sans-serif;
}
header #languages{
	font-size:12px;
	float:right;
}
header #languages li{
	text-align:right;
}

 header ul li  a{
	-webkit-transition: color 0.4s ease 0s;
	-moz-transition: color 0.4s ease 0s;
	transition: color 0.4s ease 0s;
	color: #d9b181;
	display: inline-block;
	position:absolute;
	bottom:10px;
}

header > nav > ul > li a:hover {
	color: white;
	/*color: #280000;*/
}
header #menu{	left:77px;}
header #promotion{left:152px;}
header #about{left:261px;}
header #contact{left:363px;}
header #french{right:172px;}
header #english{right:115px;}
header #chinese{right:76px;}
header #admin{right:0;}


/*========== style for all pages ==================================================*/
/*.main{
	top:45px;
	 -webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	position:relative;
	width:1200px;
	margin:50px auto 45px;
} */


/*========== home page slider   ==============================================*/
#content_home{
	cursor:pointer;
	position:relative;
	width:980px;
	height:490px;
	color:#D9B181;
	border:6px solid rgba(45,3,7,.5); /*#bc966djust for seeing the area*/
	border-radius: 8px;
	margin: 95px auto 45px;
    overflow:hidden;
	-webkit-box-shadow: 6px 6px 10px #2d0307; /*#b07546;#480b12; */
	-moz-box-shadow: 6px 6px 10px #2d0307; 
	box-shadow: 6px 6px 10px #2d0307; 
	display: block;
}

#list{
       width:6860px;
	   height:490px;
	   position:absolute;
	   z-index:1;}
	   
#list img {
           float:left;}
		   
#buttons {
       position:absolute;
	   height:10px;
	  /*  width:100px; */
	   z-index:2;
	   bottom:20px;
	   left:440px;}
	   
#buttons span{
              cursor:pointer;
			  float:left;
			  /* border:1px solid #d36532; */
			  width:12px;
			  height:12px;
			  border-radius:50%;
			  background:#d9b181;
			  margin-right:15px;}
			  
#buttons .on{
              background:#d36532;}
			  
#buttons span:hover{
	color:
}			  
.arrow{
       cursor:pointer;
	   display:none;
	   line-height:39px;
	   text-align:center;
	   font-size:36px;
	   font-weight:bold;
	   width:40px;
	   height:40px;
	   position:absolute;
	   z-index:2;
	   top:225px;
	   background-color:RGBA(30,0,0,.3);
	   color:#d9b181;/*#eee;*/}
	   
.arrow:hover{
             background-color:RGBA(30,0,0,.5);}
			 
#content_home:hover .arrow{
                       display:block;}
					   
#prev{
       left:20px;}
	   
#next{
       right:20px;}


/*==========   menu   =========================================*/

/* #content_menu{
	position:relative;
 	width:1200px;
	height:540px;
	background-color:rgba(30,0,0,0.4);
	border:1px solid #bc966d;
	margin: 95px auto 45px;
	display: none;
} */
/*==========   menu   =========================================*/

#content_menu{
	/* float:center; */
	position:relative;
 	width:900px;
	height:540px;
	/* color:#D9B181; */
	background-color:rgba(30,0,0,0.4);
	border:1px solid #bc966d;/* just for seeing the area*/
	/* margin: 0 auto 45px; */
	left:50%;
	margin-left:-300px;
	display: none;
	top:50px;
}

#content_menu nav{
	position:fixed;
	top:130px;
	left:50%;
	margin-left:-600px;
	width:300px;
	
}

#content_menu nav li{
	line-height:35px;
	padding:5px 10px;
	vertical-align:center;
	/* font: normal normal normal 18px/1.4em impact, impact-w01-2010, impact-w02-2010,impact-w10-2010, sans-serif; */
	font:normal normal normal 18px/1.4em impact,Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-color: rgba(30,0,0,0.4)
}
#content_menu nav li a{
	color:#D9B181;
}

/*==========   promotions   =========================================*/

#content_promotion{
	position:relative;
	width:980px;
	/* height:540px; */
	color:#D9B181;
	background-color:rgba(30,0,0,0.4);
	border:1px solid #bc966d; /*just for seeing the area*/
	margin: 45px auto;
	display: none;
}

/*==========   about us   =========================================*/

#content_about{
	position:relative;
	width:980px;
	height:1000px; 
	color:#D9B181;
	background-color:rgba(30,0,0,0.4);
	margin: 0 auto 45px;
	display: none;
}
#content_about h1{font-size:48px; padding:20px 0 20px 30px;}
#content_about .top {
	margin:0 auto;
}

#content_about div img{
	height:490px;
	width:890px;
	margin-left:45px;
}

#content_about .bottom {
	margin:45px auto;
	height:280px;
	width:850px;
	padding:20px;
	background:rgba(30,0,0,0.4);/*#a94718;*/
	line-height:22px;
	font-size:18px;
}

/*==========   contact us   =========================================*/
#content_contact{
	position:relative;
	height:600px;
	width:980px;
	color:#D9B181;
	background-color:rgba(30,0,0,0.4);
	margin: 0 auto 45px;
	display: none;
}

#googleMap {
	/* position:absolute; */
	width: 900px;
	height: 300px;
	margin:40px;
}

/*========== footer ==================================================*/
footer {
	position:relative;
	/* top:45px; */
	height:280px;
	width:100%;
	margin: 0 auto;
	color:#D9B181;
	background-color:rgba(30,0,0, 0.4);
}

footer  div{
	position: relative;
	height:280px;
	width:980px;
	margin: 0 auto;
	background-color:rgba(30,0,0, 0.2);
}
footer h1{
	font: normal normal normal 25px/1.4em impact, 
		impact-w01-2010, impact-w02-2010, 
		impact-w10-2010, sans-serif;
}
footer div div {
	position:absolute;
	display:inline-block;
	width: 230px;
	height:200px;
	top:20px;
	padding:10px 0 10px 30px;
	background-color:rgba(30,0,0, 0.4);
}
footer div div p{
	font: normal normal normal 15px/1.4em 'open sans', sans-serif;
}
footer div #footer1{
	left:50px;
}

footer div #footer2{
	left:360px;
}
footer div #footer3{
	left:670px;
}

footer #copyright{
	font:normal normal normal 13px/1.4em 'open sans', sans-serif;
	color: rgba(239,187,127,0.5);
	position: relative;
	top:260px;
	padding:0 0 5px 5px;
}
footer span{
	display:inline-block;
	float:right;
}
footer span a{
	color:#D9B181;
	padding-right:10px;
}
