@charset "utf-8";
/*========== Initialization ==========*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,header,footer,dl,dt,dd,input{
	margin:0;
	padding:0;
}
html, body{
}

body{font-size:12px; 
	height:100%;
	background:url("../images/bg-unit4.png") repeat fixed; 
	font-family: 'HelveticaRegular',Helvetica,Arial;
	/* line-height:18px; */}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
/* clear fix */
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

/*========== header ==================================================*/
header {
	position:fixed;
	top:0px;
	z-index:100;
	display: block;
	width: 100%;
	height: 50px;
	background-color:#a94718;/*#300300;/*#4f1e19;*/
	-webkit-box-shadow: 0 4px 10px #b07546;
	-moz-box-shadow: 0 4px 10px #b07546;
	box-shadow: 0 7px 20px #1e0000;/*#b07546;*/
}

header > nav {
	position:relative;
	display: block;
	width:1000px;
	height:50px;
	margin:0 auto;
}
header ul {
	display: inline-block;
	margin:15px 0 0;
}

header ul li  {
	display:inline-block;
}

header  #menus li{
	font: normal normal normal 17px/1.4em 'open sans', sans-serif;
}
header #languages{
	font-size:12px;
	float:right;
}
header #languages li{
	text-align:right;
}

 header ul li  a{
	-webkit-transition: color 0.4s ease 0s;
	-moz-transition: color 0.4s ease 0s;
	transition: color 0.4s ease 0s;
	color: #d9b181;
	display: inline-block;
	position:absolute;
	bottom:10px;
}

header ul li  a.on{
	color: white;
}

header > nav > ul > li a:hover {
	color: white;
	/*color: #280000;*/
}
header #menu{	left:77px;}
header #promotion{left:152px;}
header #about{left:261px;}
header #contact{left:363px;}
header #french{right:172px;}
header #english{right:115px;}
header #chinese{right:76px;}
header #admin{right:0;}


/*========== style for all pages ==================================================*/
/*.main{
	top:45px;
	 -webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	position:relative;
	width:1200px;
	margin:50px auto 45px;
} */


/*========== home page slider   ==============================================*/
#content_home{
	cursor:pointer;
	position:relative;
	width:980px;
	height:490px;
	color:#D9B181;
	border:6px solid rgba(45,3,7,.5); /*#bc966djust for seeing the area*/
	border-radius: 8px;
	margin: 95px auto 45px;
    overflow:hidden;
	-webkit-box-shadow: 6px 6px 10px #2d0307; /*#b07546;#480b12; */
	-moz-box-shadow: 6px 6px 10px #2d0307; 
	box-shadow: 6px 6px 10px #2d0307; 
	display: block;
}

#list{
       width:6860px;
	   height:490px;
	   position:absolute;
	   z-index:1;}
	   
#list img {
           float:left;}
		   
#buttons {
       position:absolute;
	   height:10px;
	  /*  width:100px; */
	   z-index:2;
	   bottom:20px;
	   left:440px;}
	   
#buttons span{
              cursor:pointer;
			  float:left;
			  /* border:1px solid #d36532; */
			  width:12px;
			  height:12px;
			  border-radius:50%;
			  background:#d9b181;
			  margin-right:15px;}
			  
#buttons .on{
              background:#d36532;}
			  
#buttons span:hover{
	color:
}			  
.arrow{
       cursor:pointer;
	   display:none;
	   line-height:39px;
	   text-align:center;
	   font-size:36px;
	   font-weight:bold;
	   width:40px;
	   height:40px;
	   position:absolute;
	   z-index:2;
	   top:225px;
	   background-color:RGBA(30,0,0,.3);
	   color:#d9b181;/*#eee;*/}
	   
.arrow:hover{
             background-color:RGBA(30,0,0,.5);}
			 
#content_home:hover .arrow{
                       display:block;}
					   
#prev{
       left:20px;}
	   
#next{
       right:20px;}

/*==========   menu   =========================================*/

#content_menu{
	position:relative;
 	width:1000px;
	height:950px;
	/* color:#D9B181; */
	background-color:#bc966d;/*rgba(30,0,0,0.6);*/
	/*border:1px solid #bc966d; just for seeing the area*/
	/* margin: 0 auto 45px; */
	left:50%;
	margin-left:-450px;
	top:50px;
	margin-bottom: 100px;
	display: none;
}

#content_menu nav{
	position:fixed;
	top:130px;
	left:50%;
	margin-left:-600px;
	width:270px;
	background-color:rgba(30,0,0,0);
	
}

#content_menu nav li{
	cursor:pointer;
	color:#93714c;
	//#D9B181;
	background: rgba(255,255,255,.5);
	border-radius: 10px;
	line-height: 35px;
	padding-left: 20px;
	margin: 10px 0px;
	//padding:0 10px 10px;
	font-size:22px;
	//text-decoration:underline;
	text-shadow: 2px 2px 2px #bc966d;
	//font: normal normal normal 18px/1.4em impact, impact-w01-2010, impact-w02-2010,impact-w10-2010, sans-serif;
	//font:normal normal normal 18px/1.4em impact,Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}
#content_menu nav li.on{
	color: #a94718;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 2px 2px 5px 2px #93714c;
	text-shadow: 1px 1px 1px;
}
	
#content_menu nav li:hover{
	background: rgba(255,255,255,1);
}

#gallery{
	margin: 10px 100px 50px 150px;
	width: 800px;
	padding-top: 30px;
}
#gallery .pic{
	position:relative;
	overflow:hidden;
	display:inline-block;
	width:250px;
	height:200px;
	border:1px solid white;
	margin:5px;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
}
#gallery .pic:hover{
	cursor:pointer;
	-webkit-box-shadow:2px 2px 5px 5px #93714c;
	-moz-box-shadow:2px 2px 5px 5px #93714c;
	box-shadow:2px 2px 5px 5px #93714c;
}

#gallery img{
	width:250px;
	height:200px;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	transition:0.8s;
}
#gallery img:hover{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}

#gallery .info{
	position:absolute;
	width:220px;
	height:20px;
	top:160px;
	background-color:rgba(255,255,255,0.8);
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
	font-size:14px;
	color:#75593b;
	font-weight:bold;
	padding:10px 15px;
}
#popup{
	display:none;
	position:fixed;
	left:50%;
	margin-left:-550px;
	top:50%;
	margin-top:-280px;
	width:1100px;
	height:560px;
	z-index:1000;
}
#popup > #popup_page{
	margin:0 auto;
	width:1000px;
	height:560px;
	overflow:auto;
	background:#fff;
	padding:10px;

}
#popup > #popup_nav {
	position:absolute;
	width:100%;
	height:32px;
	left:50%;
	margin-left:-550px;
	top:50%;
	margin-top:-16px;
}
#popup_nav > #back{
	float:left;
}
#popup_nav > #forward{
	/* position:absolute;
	right:-20px; */
	float:right;
	
}
#popup > #popup_footer{
	position:relative;
	margin:-20px auto;
	/* left:50%;
	margin-left:-15px;
	margin-bottom:20px; */
}
#popup_footer p{
	text-align:center;
}
#popup_page  #close{
	float:right;
}
/* Styles for the semi-transparent overlay */
#page_overlay {display: none;/*block;*/
				position: fixed; top: 0px; left: 0px;
				width: 100%; height: 100%;
				z-index: 999;
				background-color: rgb(140, 111, 111);
				filter: alpha(opacity = 80); opacity: 0.80
				}
/*==========   promotions   =========================================*/

#content_promotion{
	position:relative;
	width:980px;
	/* height:540px; */
	color:#D9B181;
	background-color:rgba(30,0,0,0.4);
	border:1px solid #bc966d; /*just for seeing the area*/
	margin: 50px auto;
	display: none;
}

/*==========   about us   =========================================*/

#content_about{
	position:relative;
	width:980px;
	height:1000px; 
	color:#D9B181;
	background-color:rgba(30,0,0,0.4);
	margin: 50px auto;
	display: none;
}
#content_about h1{font-size:48px; padding:20px 0 20px 30px;}
#content_about .top {
	margin:0 auto;
}

#content_about div img{
	height:490px;
	width:890px;
	margin-left:45px;
	border-radius: 10px;
}

#content_about .bottom {
	margin:45px auto;
	height:280px;
	width:850px;
	padding:20px;
	background:rgba(30,0,0,0.4);/*#a94718;*/
	border-radius: 10px;
	line-height:28px;
	font-size:18px;
}

/*==========   contact us   =========================================*/
#content_contact{
	position:relative;
	height:650px;
	width:980px;
	color:#D9B181;
	background-color:rgba(30,0,0,0.4);
	margin:50px auto;
	display: none;
}
#content_contact .wrap {
	position:absolute;
	left:50%;
	margin-left:-450px;
	margin-top:40px;
	/* margin:40px auto; */
}
#googleMap {
	/* position:absolute; */
	width: 900px;
	height: 300px;
	border-radius: 10px;
}
#contact_comment{
	position: absolute;
	top: 380px;
	margin-left: -450px;
	left: 50%;
	font-size: 20px;
	padding: 30px;
	background: rgba(30,0,0,0.4);
	border-radius: 10px;
	width: 840px;
}

/*========== footer ==================================================*/
footer {
	position:relative;
	/* top:45px; */
	height:280px;
	width:100%;
	margin: 0 auto;
	color:#D9B181;
	background-color:rgba(30,0,0, 0.4);
}

footer  div{
	position: relative;
	height:280px;
	width:980px;
	margin: 0 auto;
	background-color:rgba(30,0,0, 0.2);
}
footer h1{
	font: normal normal normal 25px/1.4em impact, 
		impact-w01-2010, impact-w02-2010, 
		impact-w10-2010, sans-serif;
}
footer div div {
	position:absolute;
	display:inline-block;
	width: 230px;
	height:200px;
	top:20px;
	padding:10px 0 10px 30px;
	background-color:rgba(30,0,0, 0.4);
}
footer div div p{
	font: normal normal normal 15px/1.4em 'open sans', sans-serif;
}
footer div #footer1{
	left:50px;
}

footer div #footer2{
	left:360px;
}
footer div #footer3{
	left:670px;
}

footer #copyright{
	font:normal normal normal 14px/1.4em 'open sans', sans-serif;
	color: rgba(255,255,255,0.6);
	position: relative;
	top:243px;
	padding:8px 0 5px;
	left:25%;
	
	letter-spacing: 1px;
}
footer article{
	display:inline-block;
}
footer #follow{
	position:absolute;
	top:244px;
	right:0;
}

footer article span{
	float:right;
	/* position: absolute;
	top:243px; */
}
/* footer article a{
	color:inherit;
	padding-right:20px;
} */
footer article a img{
	width:32px;
	height:32px;
}

footer article a{
	color: rgba(255,255,255,0.6);
	padding-right:20px;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

footer article a:hover{
	color:white;
	text-shadow:0px 1px 2px white;
}
