@charset "utf-8";

/*========== Initialization ==========*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,header,footer,dl,dt,dd,input{
	margin:0;
	padding:0;
}
@font-face{
	font-family: "delicious";
	src: url("../icon/fonts/delicious.eot"); /* IE9 兼容模式 */
	src: url("../icon/fonts/delicious.eot?#iefix") format("embedded-opentype")
		 ,url("../icon/fonts/delicious.woff") format("woff")
		 ,url("../icon/fonts/delicious.ttf") format("truetype")
		 ,url("../icon/fonts/delicious.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body{font-size:12px; 
	height:100%;
	background:url("../images/bg-unit4.png") repeat fixed;//#E0D2B4; 
	//font-family: 'HelveticaRegular', Helvetica,Arial;
	font-family: 'Elephant Regular';
	/* line-height:18px; */}
img{border:none;}
fieldset,img{ border: 0; }
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
a:link, a:visited{ color: #d9b181;}
a:hover { color:#c9394a;}
a:active { color: #c9394a;}
/* clear fix */
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.left{float:left}
.right{float:right}
.clearBorder{border:none;}
/*========== header ==================================================*/
header {
	position:fixed;
	top:0px;
	display: block;
	width: 100%;
	height: 50px;
	background-color:#a94718;/*#300300;/*#4f1e19;*/
	-webkit-box-shadow: 0 4px 10px #6E492B;
	-moz-box-shadow: 0 4px 10px #6E492B;
	box-shadow: 0 4px 10px #6E492B;
}

header > nav {
	position:relative;
	display: block;
	width:1000px;
	height:50px;
	margin:0 auto;
}
header ul {
	display: inline-block;
	margin:15px 0 0;
}

header ul li  {
	display:inline-block;
}

header  #menus li{
	//font: normal normal normal 17px/1.4em 'open sans', sans-serif;
	font: normal normal normal 17px/1.4em 'Elephant Regular', sans-serif;
}
header #languages{
	font-size:12px;
	float:right;
}
header #languages li{
	text-align:right;
}

 header ul li  a{
	-webkit-transition: color 0.4s ease 0s;
	-moz-transition: color 0.4s ease 0s;
	transition: color 0.4s ease 0s;
	color: #d9b181;
	display: inline-block;
	position:absolute;
	bottom:10px;
}

header ul li  a.on{
	color: white;
}

header > nav > ul > li a:hover {
	color: white;
	/*color: #280000;*/
}
header #menu{	left:77px;}
header #promotion{left:152px;}
header #about{left:261px;}
header #contact{left:363px;}
header #french{right:172px;}
header #english{right:115px;}
header #chinese{right:76px;}
header #admin{right:0;}


/*========== style for all pages ==================================================*/


/*========== home page slider   ==============================================*/
#content_home{
	cursor:pointer;
	position:relative;
	width:980px;
	height:490px;
	color:#D9B181;
	margin: 95px auto 45px;
    overflow:hidden;
	background:#e0d2b4;
	-webkit-box-shadow: 2px 2px 6px #937A6A;//#2d0307;#b07546;#480b12;  
	-moz-box-shadow: 2px 2px 6px #937A6A; 
	box-shadow: 2px 2px 6px #937A6A;
	display: none;
}

#list{
       width:6860px;
	   height:490px;
	   position:absolute;
	   }
	   
#list img {
           float:left;}
		   
#buttons {
       position:absolute;
	   height:10px;
	  /*  width:100px; */
	   bottom:20px;
	   left:440px;}
	   
#buttons span{
              cursor:pointer;
			  float:left;
			  /* border:1px solid #d36532; */
			  width:12px;
			  height:12px;
			  border-radius:50%;
			  background:#d9b181;
			  margin-right:15px;}
			  
#buttons .on{
              background:#d36532;}
			  
#buttons span:hover{
	color:
}			  
.arrow{
       cursor:pointer;
	   display:none;
	   line-height:39px;
	   text-align:center;
	   font-size:36px;
	   font-weight:bold;
	   width:40px;
	   height:40px;
	   position:absolute;
	   top:225px;
	   background-color:RGBA(30,0,0,.3);
	   color:#d9b181;/*#eee;*/}
	   
.arrow:hover{
             background-color:RGBA(30,0,0,.5);}
			 
#content_home:hover .arrow{
                       display:block;}
					   
#prev{
       left:20px;}
	   
#next{
       right:20px;}

/*==========   menu   =========================================*/

#content_menu{
	/* position:relative; */
 	width:1200px;
	height:950px;
	/* color:#D9B181; */
	/*background-color:#bc966d;rgba(30,0,0,0.6);*/
	/*border:1px solid #bc966d; just for seeing the area*/
	margin: 50px auto;
	top:50px;
	/*  margin-bottom: 100px; */
	display: none;
}

#content_menu nav{
	/* position:fixed; 
	top:130px;
	left:50%;
	margin-left:-600px;*/
	width:272px;
	float:left;
	//background-color:rgba(30,0,0,0);
	
}
.cat_sidebar{
	position:fixed; 
	/* display:table; */
/* 	top:100px;
	left:0; */
	width:270px;
	/* margin-bottom:20px; */
	background:#bc966d;
	box-shadow: 0px 2px 4px rgba(30,0,0,0.2);
}
#category{
	width:230px;
	margin:0 auto;
}
#content_menu nav li{
	cursor:pointer; 
	color:rgba(255,255,255,0.5);//#6d5439;
	padding: 15px 20px;
	display:block;
	height:36px;
	font-size:16px;
	border-top: 1px solid #c9a074;
	border-bottom: 1px solid #a07b53;
	//text-shadow: 2px 2px 2px #bc966d;
	//font:normal normal normal 18px/1.4em impact,Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	-webkit-transition:color 0.4s;
	-moz-transition:color 0.4s;
	transition:color 0.4s;
}
#content_menu nav li.on{
	/* background: #93714c; */
	color:white;
}
	
#content_menu nav li:hover{
	/*color: #93714c;
	 background: #93714c; 
	box-shadow: 0px 2px 6px rgba(30,0,0,.4);*/
	color:white;
}
#content_menu nav li.on:hover{
	color:white;
}
	
.dot_curr{
	position:absolute;
	top:17px;
	left:13px;
	width:0px;height:0px;
	border-top: 8px solid rgba(255,255,255,0);
	border-bottom: 8px solid rgba(255,255,255,0);
	border-left: 7px solid white;//#93714C;
}
	
#content_menu h4{
	font-size:20px;
	color:white;
}
#gallery{	
	float:right;
	right:75px;
	width: 910px;
	height: 890px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #bc966d; 
}
#gallery .wrap{
	width:810px;
	margin:0 auto;
	/* border:1px solid white; */
}
#gallery .pic{
	position:relative;
	overflow:hidden;
	display:inline-block;
	width:250px;
	height:200px;
	border:1px solid white;
	background:rgba(255,255,255,0.5);
	margin:5px;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
}
#gallery .pic:hover{
	cursor:pointer;
	-webkit-box-shadow:2px 2px 5px 5px #93714c;
	-moz-box-shadow:2px 2px 5px 5px #93714c;
	box-shadow:2px 2px 5px 5px #93714c;
}

#gallery img{
	width:250px;
	height:200px;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	transition:0.8s;
}
#gallery img:hover{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
}

#gallery .info{
	position:absolute;
	width:220px;
	height:20px;
	top:160px;
	background-color:rgba(255,255,255,0.8);
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	transition:0.5s;
	font-size:14px;
	color:#75593b;
	font-weight:bold;
	padding:10px 15px;
}

/* .pagebox{font-size:15px;font-weight:bold;color:#585858;}
.headbox{color:#0101DF;}
.pagebox a {color:#0101DF;}  */

/* iframe{
	padding:0;
	margin-left:20px;
	width:900px;
	height:950px;
} */
	

/* overlay page */
#page_overlay {display: none;
			position: fixed; top: 0; left: 0;
			width: 100%;  height: 100%;
			background-color: rgb(140, 111, 111);
			filter: alpha(opacity = 80); opacity: 0.80;
			overflow-x:hidden;
			overflow-y:hidden;}
			
/* whole popup area */
#popup{
	display:none;
	position:fixed;
	left:50%;
	margin-left:-550px;
	top:50%;
	margin-top:-290px;
	width:1100px;
	height:580px;
	color:#666;
}
#popup i, #is_spicy{
	width:32px;height:32px;
	background:url("../images/sprite.png");
}
/* back and forward arrow */
#popup_nav {
	position:absolute;
	width:100%;
	top:50%;
	margin-top:-16px;
}
i#back{
	float:left;
	background-position:0 -32px;
}
i#forward{
	float:right;
	background-position:0 -64px;
}
i#back:hover{
	cursor:pointer;
	background-position:-32px -32px;
}
i#forward:hover{
	cursor:pointer;
	background-position:-32px -64px;
}

/* popup footer, indicate the current page number and total number */
#popup_footer{
	line-height: 30px;
	padding-top: 5px;
}
#popup_footer p{
	text-align:center;
}
/* popup main area */
#popup_main{
	margin:0 auto;
	width:1000px;
	height:580px;
	background:#fff;
}

/* popup top bar, include close button */
#popup_topbar{
}
i#close{
	float:right;
	position:relative;
	right:-16px;
	top:-16px;
	background-position:0 0;
	width:32px; height:32px;
}
i#close:hover{
	cursor:pointer;
	background-position:-32px 0;
}
/* popup page, include left(pic) area, right(text) area and bottom（description) area*/
#popup_page{
	/* position:absolute; 
	top:30px;*/
	width:980px;
	height:500px;
	overflow:auto;
	padding:10px;
	padding-top:0;
}

#dish_pic,#dish_text{
	float:left;
	/* border:1px solid #ccc; */
	width:460px;
	height:460px;
	margin-left: 15px;
}

#pic_large{
	position:relative;
	border:1px solid #ccc;
	width:100%;
	height:350px;
}
#org_pic{
	width:460px;
	height:350px;
}	
#pic_small{
	height:100px;
	width:460px;
	/* border: 1px solid #ccc; */
}
#pic_small i{
	width:17px;
	height:54px;
	margin-top: 23px;
}
i#s_back{
	float:left;
	background-position:-66px 0;
}
i#s_back:hover{
	cursor:pointer;
	background-position:-100px 0;
}
i#s_forward{
	float:right;
	background-position:-83px 0;
}
i#s_forward:hover{
	cursor:pointer;
	background-position:-66px -58px;
}
#pic_small .thumb_nail{
	display:inline-block;
	width:64px;
	height:64px;
	margin: 18px 18px auto;
	border:1px solid #ccc;
}
	
.thumb_nail:hover{
	border:1px solid red;
	cursor:pointer;
}

#dish_text li{
	width:460px;
}
#dish_text li div{
	display:inline-block;
}
#dish_text h1{
	padding:20px 10px;
}	
#dish_text .dt{
	font-size:16px;
	line-height:2em;
	width:120px;
	padding:5px 10px 5px 30px;
}
#dish_text .dd{
	font-size:14px;
}
#is_spicy{
	background-position:0 -96px;
	padding:0;
	vertical-align:middle;
}
#dish_desc{
	clear:both;
	width:935px;
	height:200px;
	border:1px solid #ccc;
	margin-left:15px;
	padding-top:20px;
}
/*==========   promotions   =========================================*/

#content_promotion{
	position:relative;
	width:1100px;
	left:50%;
	margin-left:-550px;
	margin-top:50px;
	margin-bottom:50px;
	padding-bottom:40px;
	/* height:540px; */
	/* color:#6E461A; */
	color:white;
	background-color:#BC966D;
	/*border:1px solid #bc966d; just for seeing the area*/
	/* margin: 50px auto; */
	display: none;
	font:16px/20px normal 'Elephant Regular';
}
#content_promotion a{
	/* color:#6E461A; */
	color:white;
	text-decoration:underline;
	text-align:left;
}
.description{
	position:relative;
	top:20px;
	padding:20px;
	width:960px;
	margin:20px auto;
	border-radius:5px;
	/* border:1px solid #c4a27d; */
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
	border:1px solid rgba(0,0,0,0);
}
.description:hover{
	background:#c4a27d;
	border: 1px solid rgb(179, 133, 96);
	/* box-shadow:0 2px 6px rgb(141, 92, 51); */
}
.leftArea{
	border:1px solid white;
	float:left;
	width:400px;
	height:400px;
}
.rightArea{
	/* border:1px solid white; */
	float:right;width:550px;
	/* margin-left:30px; 
	padding:5px;*/
}
.des_smimg i{
	width:17px;
	height:54px;
	background:url("../images/sprite.png");
}
i.p_back{
	float:left;
	background-position:-66px 0;
}
i.p_back:hover{
	cursor:pointer;
	background-position:-100px 0;
}
i.s_forward{
	float:right;
	background-position:-83px 0;
}
i.s_forward:hover{
	cursor:pointer;
	background-position:-66px -58px;
}
#thumblist li{
	display:inline-block;
	width:64px;
	height:64px;
	border:1px solid #6E461A;
}

#thumblist li:hover{
	border:1px solid white;
}
/*图片展示*/
div.big{
	height:330px; 
	text-align:center;
	border:1px solid white;
}
.big img{
	width:400px;
	height:330px;
}
.des_smimg{
	width:398px;
	height:64px;
	margin:0 auto;
	border:1px solid white;
}
.des_smimg li{float:left; margin-left:-1px;}
/* .des_smimg img{
	border:#CCC solid 1px;
} */
.des_smimg .active{
	border-color:#317EE7; 
	position:relative;
}
.des_content{padding:10px;}
.des_content_tit{
	font:bold 22px/24px "Elephant Regular"; 
	padding:0 12px 10px;
	color:white;}
.des_content .dl{margin-bottom:8px;}
.des_content .dt{
	width:140px; 
	float:left; 
	clear:left;
	position:relative; 
	color:#6E461A; 
	text-indent:17px; 
	line-height:25px;
	font-weight: bold;
}

.des_content .dd{
	padding-left:30px; 
	//padding-left:0;
}
.des_money{
	font-size:18px; 
	color:#F30; 
	font-family:Verdana;
}
.des_money em{
	text-decoration: line-through;
	font-style:normal; 
	/* font-size:12px; */
}
/*==========   about us   =========================================*/

#content_about{
	/* position:relative; */
	width:980px;
	/* height:1000px;  */
	color:rgba(255,255,255,0.8);//#D9B181;
	background-color:#BC966D;//rgba(30,0,0,0.4);
	margin: 50px auto;
	display: none;
	padding-bottom: 40px;
}
#content_about h2{
	color: white;
	font-size: 36px;
	background: url('../images/line.png') 70px 70px no-repeat;
	padding: 30px 0 10px 100px;
}

#content_about .top {
	margin:0 auto;
}
/* #content_about .top div{
	margin-left:70px;
	width:220px;
	height:22px;
	background:url('../images/line.png') left top no-repeat;
} */
#content_about div img{
	display:block;
	margin: 20px auto;
	height:280px;
	width:840px;
	/* margin-left:45px;
	border-radius: 3px; */
}

#content_about .bottom {
	display:block;
	margin:45px auto;
	height:280px;
	width:840px;
	/* line-height:28px; */
	font:18px/28px 'Elephant Regular';
}
.bottom .left{
	
}
.bottom .right{
	padding:20px;
	border-radius: 8px;
	font:18px/28px 'Elephant Regular';
	color:rgba(30,0,0,0.8);
	background:#F5EDE3;//#D9B181;rgba(30,0,0,0.4);/*#a94718;*/
	width:490px;
}
/*==========   contact us   =========================================*/
#content_contact{
	/* position:relative; */
	height:650px;
	width:980px;
	color:#D9B181;
	background-color:#bc966d;
	/* background-color:rgba(30,0,0,0.4); */
	margin:50px auto;
	display: none;
}
#contact_comment{
	/* position: absolute;
	top: 380px;
	margin-left: -450px;
	left: 50%; 
	position:relative;*/
	height:250px;
	color:white;
	font-size: 14px;
	line-height:25px;
	padding:30px;
	/* background: rgba(217,177,129,1); */
	border-radius: 3px;
	width: 840px;
	margin:30px auto 0;
	background:url("../images/contactMapBG.png");
	
}
#contact_info,#contact_form{
	float:left;
	margin-right: 20px;
}
#contact_info{
	width:300px;
}
#contact_form{
	width:500px;
}
#contact_comment h2{
	color: white;
	font-size: 30px;
	background: url('../images/line.png') left 30px no-repeat;
	padding: 0 0 30px 15px;
}
#contact_comment h3{
	font-size:18px;
	margin-top:30px;
	padding-bottom: 5px;
}
#commnetFormId .form_control{
	display: inline-block;
	color: #555555;
	font-size: 14px;
	font-family:'Elephant Regular';//, monospace;
	line-height:1.4;
	border: 1px solid #cccccc;
	border-radius: 3px;
	vertical-align: middle;
	padding: 6px 12px;
	margin:0 3px 15px 0;
}
#commnetFormId input{
	width:218px;
}
#leaveMessageId{
	height:60px;
	width:470px;
}
#emailBtnId{
	float:right;
	border: none;
	font-size: 14px;
	line-height: 1.2;
	margin-right: 5px;
	border-radius: 3px;
	display: block;
	padding: 7px 15px;
	text-align: center;
	background: #917454;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}
#emailBtnId:hover{
	cursor:pointer;
	background: #a0805d;
}
#content_contact .wrap {
	/* position:absolute;
	left:50%;
	margin-left:-450px; 
	margin-top:40px;*/
	/* margin:40px auto; */
}
#googleMap {
	/* position:absolute; */
	margin: 0 auto;
	width: 900px;
	height: 300px;
	border-radius: 3px;
}

/*========== footer ==================================================*/
footer {
	position:relative;
	bottom: 0;
	height:280px;
	width:100%;
	margin: 0 auto;
	color:#D9B181;
	background-color:rgba(30,0,0, 0.4);
}

footer  div{
	position: relative;
	height:280px;
	width:980px;
	margin: 0 auto;
	background-color:rgba(30,0,0, 0.2);
}
footer h1{
	font: normal normal normal 25px/1.4em impact, 
		impact-w01-2010, impact-w02-2010, 
		impact-w10-2010, sans-serif;
}
footer div div {
	position:absolute;
	display:inline-block;
	width: 230px;
	height:200px;
	top:20px;
	padding:10px 0 10px 30px;
	background-color:rgba(30,0,0, 0.4);
}
footer div div p{
	font: normal normal normal 15px/1.4em 'open sans', sans-serif;
}
footer div #footer1{
	left:50px;
}

footer div #footer2{
	left:360px;
}
footer div #footer3{
	left:670px;
}

footer #copyright{
	font:normal normal normal 14px/1.4em 'open sans', sans-serif;
	color: rgba(255,255,255,0.6);
	position: relative;
	top:243px;
	padding:8px 0 5px;
	left:25%;
	
	letter-spacing: 1px;
}
footer article{
	display:inline-block;
}
footer #follow{
	position:absolute;
	top:244px;
	right:0;
}

footer article span{
	float:right;
	/* position: absolute;
	top:243px; */
}
/* footer article a{
	color:inherit;
	padding-right:20px;
} */
footer article a img{
	width:32px;
	height:32px;
}

footer article a{
	color: rgba(255,255,255,0.6);
	padding-right:20px;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
}

footer article a:hover{
	color:white;
	text-shadow:0px 1px 2px white;
}

/* ? page number in menu div */
.availablePage
{
	cursor:pointer;
}

.pagebox{font-size:15px;font-weight:bold;color:#585858;}
.headbox{color:#0101DF;}
.pagebox .availablePage {color:#0101DF;} 

/* back to top */
#back-to-top{
	display:none;
	width:42px;
	height:38px;
	bottom:30px; 
	right:30px;
	position:fixed;
	//background:rgba(255,255,255,1);#E3D7BB;
}
[class^="icon_"],[class*=" icon_"]{
	font-family: "delicious";
	font-style: normal;
	font-weight: normal;
	/*Better Font Rendering*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_btt{
	font-size: 38px;
}
.icon_contact{
	font-size: 14px;
}
.icon_admin{
	font-size: 14px;
}
