@charset "utf-8";
/*========== Initialization ==========*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,header,footer,dl,dt,dd,input{
	margin:0;
	padding:0;
}
html, body{
}

body{font-size:12px; 
	height:100%;
	/* background:url("../images/background.jpg")  no-repeat center center fixed; */
	background:url("../images/slider3 (2).jpg")  no-repeat right top fixed; 
	/* background:url("../images/noodles.jpg")  no-repeat right bottom fixed;  */
	/*-webkit-background-size:100%;cover;*/
	/*background-size:100%;cover;*/
	background-color:#320100; 
	font-family: 'HelveticaRegular',Helvetica,Arial;
	line-height:18px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
/* clear fix */
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

/*========== header ==================================================*/
header {
	position:fixed;
	top:0px;
	z-index:10;
	display: block;
	width: 100%;
	height: 50px;
	background-color:#a94718;/*#300300;/*#4f1e19;*/
	-webkit-box-shadow: 0 4px 10px ##b07546;
	-moz-box-shadow: 0 4px 10px ##b07546;
	box-shadow: 0 4px 10px #b07546;/*#1e0000;*/
}

header > nav {
	position:relative;
	display: block;
	width:1000px;
	height:50px;
	margin:0 auto;
}
header ul {
	display: inline-block;
	margin:15px 0 0;
}

header ul li  {
	display:inline-block;
}

header  #menus li{
	font: normal normal normal 17px/1.4em 'open sans', sans-serif;
}
header #languages{
	font-size:12px;
	float:right;
}
header #languages li{
	text-align:right;
}

 header ul li  a{
	-webkit-transition: color 0.4s ease 0s;
	-moz-transition: color 0.4s ease 0s;
	transition: color 0.4s ease 0s;
	color: #d9b181;
	display: inline-block;
	position:absolute;
	bottom:10px;
}

header > nav > ul > li a:hover {
	color: white;
	/*color: #280000;*/
}
header #menu{	left:77px;}
header #promotion{left:152px;}
header #about{left:261px;}
header #contact{left:363px;}
header #english{right:129px;}
header #french{right:202px;}
header #chinese{right:76px;}
header #admin{right:0;}


/*========== style for all pages ==================================================*/
.content{
	top:45px;
	/* -webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s; */
	margin-bottom:45px;
}
/*========== home ==================================================*/
#content_home{
	cursor:pointer;
	position:relative;
	width:980px;
	height:490px;
	border:15px solid rgba(255,255,255,.2); /*#bc966djust for seeing the area*/
	margin: 45px auto;
    overflow:hidden;
	-webkit-box-shadow: 6px 6px 10px ##b07546;
	-moz-box-shadow: 6px 6px 10px ##b07546;
	box-shadow: 6px 6px 10px #b07546;
	/* top:0; */
	/* display: block; */
}
#content_menu{
	/* float:center; */
	position:relative;
 	width:1200px;
	height:540px;
	background-color:red;
	border:1px solid #bc966d;/* just for seeing the area*/
	margin: 45px auto;
	/* display: none; */
	/* top:-490px; */
}
#content_promotion{
	position:relative;
	width:980px;
	height:540px;
	background-color:green;
	border:1px solid #bc966d; /*just for seeing the area*/
	margin: 45px auto;
	/* display: none; */
}
#content_about{
	position:relative;
	width:980px;
	height:1000px;
	background-color:yellow;
	border:1px solid #bc966d; /*just for seeing the area*/
	margin: 45px auto;
	/* display: none; */
}
#content_contact{
	position:relative;
	width:980px;
	height:540px;
	background-color:blue;
	border:1px solid #bc966d; /*just for seeing the area*/
	margin: 45px auto;
	/* display: none; */
}
#googleMap {
	width: 900px;
	height: 300px;
	
}


/*========== home page slider ========================================*/
	   
#list{
       width:6860px;
	   height:490px;
	   position:absolute;
	   z-index:1;}
	   
#list img {
           float:left;}
		   
#buttons {
       position:absolute;
	   height:10px;
	  /*  width:100px; */
	   z-index:2;
	   bottom:20px;
	   left:440px;}
	   
#buttons span{
              cursor:pointer;
			  float:left;
			  /* border:1px solid #d36532; */
			  width:12px;
			  height:12px;
			  border-radius:50%;
			  background:#d9b181;
			  margin-right:15px;}
			  
#buttons .on{
              background:#d36532;}
			  
#buttons span:hover{
	color:
}			  
.arrow{
       cursor:pointer;
	   display:none;
	   line-height:39px;
	   text-align:center;
	   font-size:36px;
	   font-weight:bold;
	   width:40px;
	   height:40px;
	   position:absolute;
	   z-index:2;
	   top:225px;
	   background-color:RGBA(30,0,0,.3);
	   color:#d9b181;/*#eee;*/}
	   
.arrow:hover{
             background-color:RGBA(30,0,0,.5);}
			 
#content_home:hover .arrow{
                       display:block;}
					   
#prev{
       left:20px;}
	   
#next{
       right:20px;}




/*========== menu ==================================================
section #content_menu{
	border:1px solid #bc966d;/*just for seeing the area
	width:1200px;
	height:490px;
	margin: 45px auto;
}*/

/*========== footer ==================================================*/
footer {
	position:relative;
	top:45px;
	height:350px;
	width:100%;
	margin: 0 auto;
	color:#D9B181;
	background-color:rgba(30,0,0, 0.4);
	
}

footer  div{
	position: relative;
	height:350px;
	width:980px;
	margin: 0 auto;
	background-color:rgba(30,0,0, 0.2);
}
footer h1{
	font: normal normal normal 25px/1.4em impact, 
		impact-w01-2010, impact-w02-2010, 
		impact-w10-2010, sans-serif;
}
footer div div {
	position:absolute;
	display:inline-block;
	width: 230px;
	height:220px;
	top:40px;
	padding:10px 0 10px 30px;
	background-color:rgba(30,0,0, 0.4);
}
footer div div p{
	font: normal normal normal 15px/1.4em 'open sans', sans-serif;
}
footer div #footer1{
	left:50px;
}

footer div #footer2{
	left:360px;
}
footer div #footer3{
	left:670px;
}

footer #copyright{
	font:normal normal normal 13px/1.4em 'open sans', sans-serif;
	color: rgba(239,187,127,0.5);
	position: relative;
	top:315px;
	padding:0 0 5px 5px;
}
footer span{
	display:inline-block;
	float:right;
}
footer span a{
	color:#D9B181;
	padding-right:10px;
}
